<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>【氨糖软骨素钙片】功效与作用,价格,效果_广东康爱多连锁药店有限公司-药房网商城</title>
<link href="libs/public.css" rel="stylesheet" type="text/css">
<link href="css/detail.css" rel="stylesheet" type="text/css">
</head>
<body>
<section id="header_top" class="clear">
	<div class="margin">
		<ul class="left clear">
			<li class="col clear">
				<i class="icons fav"></i>
				<a href="#" title="收藏药房网商城，下次访问更便捷">收藏药房网商城</a>
				<span></span>
			</li>
			<li class="weixin clear">
				<i class="icons wx"></i>
				<a href="#" title="关注药房网商城微信公众账号，随时随地查药价">微信查价</a>
				<span></span>
			</li>
			<li class="app clear">
				<i class="icons aa"></i>
				<a href="#" title="下载药房网商城APP">手机APP</a>
			</li>
		</ul>
		<ul class="right clear">
			<li class="ent_btn">
				<a href="#">商家入驻</a>
			</li>
			<li class="web_nav">
				<a href="#">网站导航</a>
				<i class="icons"></i>
			</li>
			<li class="customer">
				<a href="#">客服中心</a>
			</li>
			<li class="fav clear">
				<a href="#">收藏夹</a>
				<span></span>
			<li class="person clear">
				<a href="#">个人中心</a>
				<i class="icons"></i>
				<span></span>
			</li>
			<li class="cart clear">
				<i class="icons"></i>
				<a href="#">需求单（<label id="cartNum">0</label>）</a>
			</li>
			<li class="login">
				您好,
				<a href="#">Mobile_17...</a>
				/
				<a href="login.html">[退出]</a>
			</li>
		</ul>
	</div>
</section>
<header class="clear">
	<div class="margin">
		<div class="logo">
			<a href="index.html" title="药房网商城(网上药店)">
				<img src="img/logo.jpg" alt="药房网商城是专业网上药店(网上药房),经国家药监局认证合法医药网，药品网购就到药房网商城!"/>
			</a>
		</div>
		<div class="search">
			<form>
				<ul class="opt_list">
					<li class="current"><a href="#">商品</a><i class="icons"></i></li>
					<li><a href="#">商家</a></li>
					<li><a href="#">厂家</a></li>
					<li><a href="#">医院</a></li>
				</ul>
				<input type="text" id="txt" value="" class="txt" placeholder="请输入批准文号、通用名、商品名、症状"/>
				<input type="button" name="btn" id="btn" value="搜索" class="btn"/>
			</form>
			<ul class="hot_search">
				<li class="noborder hightlight"><a href="#">补血</a></li>
				<li><a href="#" title="999">999</a></li>
				<li><a href="#" title="片仔癀">片仔癀</a></li>
				<li><a href="#" title="妈富隆">妈富隆</a></li>
				<li class="hightlight"><a href="#" title="阿胶">阿胶</a></li>
				<li><a href="#" title="金戈">金戈</a></li>
				<li><a href="#" title="汤臣倍健">汤臣倍健</a></li>
			</ul>
		</div>
		<div class="promise">
			<a href="#" title="第三方药品交易服务平台,一站多店式药品订购体验,严格审核正规药房供货" class="icons"></a>
		</div>
	</div>
</header>
<nav>
	<div class="margin">
		<ul class="mainnav clear">
			<li class="category"><a href="#">全部商品分类</a></li>
			<li class="home"><a href="#">首页</a></li>
			<li><a href="#" title="药品超市">药品超市</a></li>
			<li><a href="#" title="药房联盟">药房联盟</a></li>
			<li><a href="#" title="医院大全">医院大全</a></li>
			<li><a href="#" title="医药资讯">医药资讯</a></li>
			<li><a href="#" title="健康问答">健康问答</a></li>
		</ul>
		<div class="goodlists">
			<ul class="maingoods" style="display: none;">
				<li id="zxyp">
					<i class="icons"></i>
					<h2>
						<a href="#" title="中西药品">中西药品</a>
					</h2>
					<div class="sub clear">
						<a href="#" title="肠胃用药">肠胃用药</a>
						<a href="#" title="感冒药">感冒药</a>
						<a href="#" title="心脑血管">心脑血管</a>
					</div>
				</li>
				<li id="ylqc">
					<i class="icons"></i>
					<h2>
						<a href="#" title="医疗器材">医疗器材</a>
					</h2>
					<div class="sub clear">
						<a href="#" title="血压计">血压计</a>
						<a href="#" title="血糖仪">血糖仪</a>
						<a href="#" title="创可贴">创可贴</a>
					</div>
				</li>
				<li id="ysbj">
					<i class="icons"></i>
					<h2>
						<a href="#" title="养生保健">养生保健</a>
					</h2>
					<div class="sub clear">
						<a href="#" title="滋补药酒">滋补药酒</a>
						<a href="#" title="补钙">补钙</a>
						<a href="#" title="补气养血">补气养血</a>
					</div>
				</li>
				<li id="jsyp">
					<i class="icons"></i>
					<h2>
						<a href="#" title="计生用品">计生用品</a>
					</h2>
					<div class="sub clear">
						<a href="#" title="避孕套">避孕套</a>
						<a href="#" title="避孕药">避孕药</a>
						<a href="#" title="验孕检查">验孕检查</a>
					</div>
				</li>
				<li id="zyyp">
					<i class="icons"></i>
					<h2>
						<a href="#" title="中药饮品">中药饮品</a>
					</h2>
					<div class="sub clear">
						<a href="#" title="西洋参">西洋参</a>
						<a href="#" title="三七">三七</a>
						<a href="#" title="灵芝孢子粉">灵芝孢子粉</a>
					</div>
				</li>
				<li id="mrhf">
					<i class="icons"></i>
					<h2>
						<a href="#" title="美容护肤">美容护肤</a>
					</h2>
					<div class="sub clear">
						<a href="#" title="祛痘">祛痘</a>
						<a href="#" title="祛斑">祛斑</a>
						<a href="#" title="疤痕修复">疤痕修复</a>
					</div>
				</li>
			</ul>
			<div class="subcat clear" style="display: none;">
				<ul class="sitems">
					<li>
						<a class="bit" href="#" target="_blank" title="胃肠用药">胃肠用药
							<label>
								<i class="icons"></i>
							</label>
						</a>
						<a href="#" title="胃炎">胃炎</a>
						<a href="#" title="胃溃疡">胃溃疡</a>
						<a href="#" title="急性肠炎">急性肠炎</a>
						<a href="#" title="十二指肠溃疡">十二指肠溃疡</a>
						<a href="#" title="胆囊炎">胆囊炎</a>
						<a href="#" title="便秘">便秘</a>
						<a href="#" title="消化不良">消化不良</a>
						<a href="#" title="痔疮">痔疮</a>
						<a href="#" title="腹痛腹泻">腹痛腹泻</a>
					</li>
					<li>
						<a class="bit" href="#" target="_blank" title="呼吸系统">呼吸系统
							<label>
								<i class="icons"></i>
							</label>
						</a>
						<a href="#" title="支气管炎">支气管炎</a>
						<a href="#" title="肺热咳嗽">肺热咳嗽</a>
						<a href="#" title="哮喘">哮喘</a>
						<a href="#" title="气管炎">气管炎</a>
						<a href="#" title="肺结核">肺结核</a>
					</li>
					<li>
						<a class="bit" href="#" target="_blank" title="心脑血管">心脑血管
							<label>
								<i class="icons"></i>
							</label>
						</a>
						<a href="#" title="高血压">高血压</a>
						<a href="#" title="糖尿病">糖尿病</a>
						<a href="#" title="冠心病">冠心病</a>
						<a href="#" title="高血脂">高血脂</a>
						<a href="#" title="心肌炎">心肌炎</a>
						<a href="#" title="脑血栓">脑血栓</a>
						<a href="#" title="中风偏瘫">中风偏瘫</a>
						<a href="#" title="低血压">低血压</a>
						<a href="#" title="静脉曲张">静脉曲张</a>
						<a href="#" title="动脉硬化">动脉硬化</a>
					</li>
					<li>
                        <a class="bit" href="#" target="_blank" title="风湿骨科">风湿骨科
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                        <a sortno="1" href="#" title="风湿病">风湿病</a>
                        <a sortno="2" href="#" title="跌打损伤">跌打损伤</a>
                        <a sortno="3" href="#" title="关节炎">关节炎</a>
                        <a sortno="4" href="#" title="颈椎病">颈椎病</a>
                        <a sortno="5" href="#" title="骨质疏松">骨质疏松</a>
                        <a sortno="6" href="#" title="痛风">痛风</a>
                        <a sortno="7" href="#" title="坐骨神经痛">坐骨神经痛</a>
                        <a sortno="8" href="#" title="腰肌劳损">腰肌劳损</a>
                        <a sortno="9" href="#" title="肩周炎">肩周炎</a>
                        <a sortno="10" href="#" title="腰椎间盘突出">腰椎间盘突出</a>
                    </li>
					<li>
                        <a class="bit" href="#" target="_blank" title="抗肿瘤药">抗肿瘤药
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                        <a sortno="2" href="#" title="白血病">白血病</a>
                        <a sortno="3" href="#" title="肺癌">肺癌</a>
                        <a sortno="4" href="#" title="胃癌">胃癌</a>
                        <a sortno="5" href="#" title="肝癌">肝癌</a>
                        <a sortno="6" href="#" title="肾癌">肾癌</a>
                        <a sortno="7" href="#" title="乳腺癌">乳腺癌</a>
                        <a sortno="8" href="#" title="卵巢癌">卵巢癌</a>
                        <a sortno="9" href="#" title="食道癌">食道癌</a>
                        <a sortno="10" href="#" title="鼻咽癌">鼻咽癌</a>
                        <a sortno="11" href="#" title="胰腺癌">胰腺癌</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="皮肤科药">皮肤科药
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                        <a sortno="1" href="#" title="皮炎">皮炎</a>
                        <a sortno="2" href="#" title="湿疹">湿疹</a>
                        <a sortno="3" href="#" title="痤疮">痤疮</a>
                        <a sortno="4" href="#" title="疥疮">疥疮</a>
                        <a sortno="5" href="#" title="疱疹">疱疹</a>
                        <a sortno="6" href="#" title="皮肤过敏">皮肤过敏</a>
                        <a sortno="7" href="#" title="蚊虫叮咬">蚊虫叮咬</a>
                        <a sortno="8" href="#" title="乌发生发">乌发生发</a>
                        <a sortno="9" href="#" title="白癜风">白癜风</a>
                        <a sortno="10" href="#" title="尖锐湿疣">尖锐湿疣</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="五官科药">五官科药
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                        <a sortno="1" href="#" title="眼科">眼科</a>
                        <a sortno="2" href="#" title="鼻科">鼻科</a>
                        <a sortno="3" href="#" title="耳科">耳科</a>
                        <a sortno="4" href="#" title="口腔科">口腔科</a>
                        <a sortno="5" href="#" title="喉科">喉科</a>
                    </li>
             	    <li class="last">
	                    <a class="bit2" href="#" target="_blank">查看更多
	                    	<label>
	                    		<i class="icons"></i>
	                    	</label>
	                    </a>&nbsp;
	                </li>
				</ul>
				<div class="rmpp"></div>
			</div>
			<div class="subcat clear" style="display: none;">
				<ul class="sitems">
                    <li>
                        <a class="bit" href="#" target="_blank" title="家庭常备">家庭常备
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="棉签">棉签</a>
                            <a sortno="2" href="#" title="纱布">纱布</a>
                            <a sortno="3" href="#" title="胶布">胶布</a>
                            <a sortno="4" href="#" title="绷带">绷带</a>
                            <a sortno="5" href="#" title="创口贴">创口贴</a>
                            <a sortno="8" href="#" title="消毒">消毒</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="检测设备">检测设备
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="血压检测">血压检测</a>
                            <a sortno="2" href="#" title="血糖检测">血糖检测</a>
                            <a sortno="3" href="#" title="体温检测">体温检测</a>
                            <a sortno="4" href="#" title="听诊器">听诊器</a>
                            <a sortno="5" href="#" title="体重脂肪测量仪">体重脂肪测量仪</a>
                            <a sortno="6" href="#" title="CFMS血小板聚集功能检测试剂盒">CFMS血小板聚集功能检测试剂盒</a>
                            <a sortno="7" href="#" title="免疫缺陷病毒抗体">免疫缺陷病毒抗体</a>
                            <a sortno="8" href="#" title="标准对数视力表灯">标准对数视力表灯</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="助行器械">助行器械
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="轮椅">轮椅</a>
                            <a sortno="2" href="#" title="拐杖">拐杖</a>
                            <a sortno="5" href="#" title="助行器">助行器</a>
                            <a sortno="6" href="#" title="接尿器">接尿器</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="康复理疗">康复理疗
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="红外理疗">红外理疗</a>
                            <a sortno="2" href="#" title="按摩系列">按摩系列</a>
                            <a sortno="3" href="#" title="治疗仪器">治疗仪器</a>
                            <a sortno="4" href="#" title="足浴理疗">足浴理疗</a>
                            <a sortno="5" href="#" title="助听器">助听器</a>
                            <a sortno="6" href="#" title="疝气治疗">疝气治疗</a>
                            <a sortno="7" href="#" title="矫姿">矫姿</a>
                            <a sortno="9" href="#" title="频谱理疗">频谱理疗</a>
                            <a sortno="10" href="#" title="磁场理疗">磁场理疗</a>
                            <a sortno="11" href="#" title="鼻腔护理">鼻腔护理</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="中医器械">中医器械
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="针灸">针灸</a>
                            <a sortno="2" href="#" title="拔罐">拔罐</a>
                            <a sortno="3" href="#" title="刮痧">刮痧</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="供氧器械">供氧器械
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="制氧设备">制氧设备</a>
                            <a sortno="3" href="#" title="供氧辅助器械">供氧辅助器械</a>
                            <a sortno="4" href="#" title="氧气袋">氧气袋</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="外用贴膏">外用贴膏
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="降温退烧">降温退烧</a>
                            <a sortno="2" href="#" title="风湿骨痛">风湿骨痛</a>
                            <a sortno="3" href="#" title="妇科外用">妇科外用</a>
                            <a sortno="4" href="#" title="五官外用">五官外用</a>
                            <a sortno="5" href="#" title="跌打损伤">跌打损伤</a>
                            <a sortno="6" href="#" title="晕车贴">晕车贴</a>
                            <a sortno="7" href="#" title="医用敷料">医用敷料</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="隐形眼镜">隐形眼镜
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="隐形眼镜">隐形眼镜</a>
                            <a sortno="2" href="#" title="美瞳彩片">美瞳彩片</a>
                            <a sortno="3" href="#" title="周边护理">周边护理</a>
                    </li>
                <li class="last">
                    <a class="bit2" href="#" target="_blank">查看更多
                    	<label>
                    		<i class="icons"></i>
                    	</label>
                    </a>&nbsp;
                </li>
            </ul>
				<div class="rmpp"></div>
			</div>
			<div class="subcat clear" style="display: none;">
				<ul class="sitems">
                    <li>
                        <a class="bit" href="#" target="_blank" title="大众养生">大众养生
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="滋补药酒">滋补药酒</a>
                            <a sortno="2" href="#" title="增强免疫">增强免疫</a>
                            <a sortno="3" href="#" title="补矿物质">补矿物质</a>
                            <a sortno="4" href="#" title="补维生素">补维生素</a>
                            <a sortno="5" href="#" title="改善睡眠">改善睡眠</a>
                            <a sortno="6" href="#" title="调节肠胃">调节肠胃</a>
                            <a sortno="7" href="#" title="缓解疲劳">缓解疲劳</a>
                            <a sortno="8" href="#" title="清咽润喉">清咽润喉</a>
                            <a sortno="9" href="#" title="保护视力">保护视力</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="男性保健">男性保健
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="补肾壮阳">补肾壮阳</a>
                            <a sortno="2" href="#" title="养肝护肝">养肝护肝</a>
                            <a sortno="4" href="#" title="补充体力">补充体力</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="女性保健">女性保健
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="2" href="#" title="美容养颜">美容养颜</a>
                            <a sortno="3" href="#" title="减肥瘦身">减肥瘦身</a>
                            <a sortno="4" href="#" title="调内分泌">调内分泌</a>
                            <a sortno="5" href="#" title="补气养血">补气养血</a>
                            <a sortno="6" href="#" title="丰胸美体">丰胸美体</a>
                            <a sortno="7" href="#" title="产前产后">产前产后</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="中老年保健">中老年保健
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="调节血脂">调节血脂</a>
                            <a sortno="2" href="#" title="调节血压">调节血压</a>
                            <a sortno="3" href="#" title="调节血糖">调节血糖</a>
                            <a sortno="4" href="#" title="增强免疫">增强免疫</a>
                            <a sortno="5" href="#" title="骨质疏松">骨质疏松</a>
                            <a sortno="6" href="#" title="润肠通便">润肠通便</a>
                            <a sortno="7" href="#" title="强身健体">强身健体</a>
                            <a sortno="8" href="#" title="抑制肿瘤">抑制肿瘤</a>
                            <a sortno="9" href="#" title="改善睡眠">改善睡眠</a>
                            <a sortno="10" href="#" title="心脏养护">心脏养护</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="青少年儿童">青少年儿童
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="增强免疫">增强免疫</a>
                            <a sortno="2" href="#" title="发育增高">发育增高</a>
                            <a sortno="2" href="#" title="补钙排铅">补钙排铅</a>
                            <a sortno="3" href="#" title="补维生素">补维生素</a>
                            <a sortno="5" href="#" title="健脑益智">健脑益智</a>
                            <a sortno="6" href="#" title="改善睡眠">改善睡眠</a>
                    </li>
                <li class="last">
                    <a class="bit2" href="#" target="_blank">查看更多
                    	<label>
                    		<i class="icons"></i>
                    	</label>
                    </a>&nbsp;
                </li>
            </ul>
				<div class="rmpp"></div>
			</div>
			<div class="subcat clear" style="display: none;">
				<ul class="sitems">
                    <li>
                        <a class="bit" href="#" target="_blank" title="避孕用品">避孕用品
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="避孕套">避孕套</a>
                            <a sortno="2" href="#" title="避孕药">避孕药</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="检测用品">检测用品
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="排卵检测">排卵检测</a>
                            <a sortno="2" href="#" title="验孕检查">验孕检查</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="情趣用品">情趣用品
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="润滑剂">润滑剂</a>
                            <a sortno="2" href="#" title="男用器具">男用器具</a>
                            <a sortno="3" href="#" title="女用器具">女用器具</a>
                    </li>
                <li class="last">
                    <a class="bit2" href="#" target="_blank">查看更多
                    	<label>
                    		<i class="icons"></i>
                    	</label>
                    </a>&nbsp;
                </li>
            </ul>
				<div class="rmpp"></div>
			</div>
			<div class="subcat clear" style="display: none;">
				<ul class="sitems">
                    <li>
                        <a class="bit" href="#" target="_blank" title="名贵中药">名贵中药
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="2" href="#" title="冬虫夏草">冬虫夏草</a>
                            <a sortno="3" href="#" title="高丽参">高丽参</a>
                            <a sortno="5" href="#" title="红参">红参</a>
                            <a sortno="6" href="#" title="鹿茸">鹿茸</a>
                            <a sortno="7" href="#" title="白参">白参</a>
                            <a sortno="8" href="#" title="灵芝">灵芝</a>
                            <a sortno="9" href="#" title="燕窝">燕窝</a>
                            <a sortno="15" href="#" title="雪莲">雪莲</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="中药材">中药材
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="枸杞">枸杞</a>
                            <a sortno="2" href="#" title="胖大海">胖大海</a>
                            <a sortno="3" href="#" title="当归">当归</a>
                            <a sortno="4" href="#" title="天麻">天麻</a>
                            <a sortno="5" href="#" title="三七">三七</a>
                            <a sortno="6" href="#" title="红枣">红枣</a>
                            <a sortno="8" href="#" title="决明子">决明子</a>
                            <a sortno="9" href="#" title="百合">百合</a>
                            <a sortno="11" href="#" title="红景天">红景天</a>
                            <a sortno="12" href="#" title="黄芪">黄芪</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="中药粉末">中药粉末
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="润滑剂">润滑剂</a>
                            <a sortno="2" href="#" title="男用器具">男用器具</a>
                            <a sortno="3" href="#" title="女用器具">女用器具</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="茶">茶
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="减肥茶">减肥茶</a>
                            <a sortno="2" href="#" title="降压茶">降压茶</a>
                            <a sortno="3" href="#" title="降糖茶">降糖茶</a>
                            <a sortno="4" href="#" title="苦丁茶">苦丁茶</a>
                            <a sortno="4" href="#" title="通便茶">通便茶</a>
                            <a sortno="7" href="#" title="花茶">花茶</a>
                    </li>
                <li class="last">
                    <a class="bit2" href="#" target="_blank">查看更多
                    	<label>
                    		<i class="icons"></i>
                    	</label>
                    </a>&nbsp;
                </li>
            </ul>
				<div class="rmpp"></div>
			</div>
			<div class="subcat clear" style="display: none;">
				<ul class="sitems">
                    <li>
                        <a class="bit" href="#" target="_blank" title="药妆">药妆
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="祛痘">祛痘</a>
                            <a sortno="2" href="#" title="祛斑">祛斑</a>
                            <a sortno="3" href="#" title="疤痕修复">疤痕修复</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="时尚彩妆">时尚彩妆
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="补水">补水</a>
                            <a sortno="2" href="#" title="BB霜">BB霜</a>
                            <a sortno="3" href="#" title="隔离霜">隔离霜</a>
                            <a sortno="4" href="#" title="精华液">精华液</a>
                            <a sortno="5" href="#" title="美白霜/乳液">美白霜/乳液</a>
                            <a sortno="6" href="#" title="洁面乳">洁面乳</a>
                            <a sortno="6" href="#" title="防晒霜">防晒霜</a>
                    </li>
                    <li>
                        <a class="bit" href="#" target="_blank" title="身体护理">身体护理
                        	<label>
                        		<i class="icons"></i>
                        	</label>
                        </a>
                            <a sortno="1" href="#" title="润肤">润肤</a>
                            <a sortno="2" href="#" title="止痒">止痒</a>
                            <a sortno="3" href="#" title="生发防脱">生发防脱</a>
                            <a sortno="4" href="#" title="香体除臭">香体除臭</a>
                            <a sortno="5" href="#" title="脱毛">脱毛</a>
                    </li>
                <li class="last">
                    <a class="bit2" href="#" target="_blank">查看更多
                    	<label>
                    		<i class="icons"></i>
                    	</label>
                    </a>&nbsp;
                </li>
            </ul>
				<div class="rmpp"></div>
			</div>
		</div>
		<!--<a href="#" target="_blank" title="商家入驻" class="nav_img" style="opacity: 0.9;">
			<img src="img/nav_img.png"/>
		</a>
		<div class="special" style="opacity: 0.9;">
			<a href="#"><img src="img/byzq.png"/></a>
			<a href="#"><img src="img/lqzx.png"/></a>
		</div>-->
	</div>
</nav>
<main>
	<div class="margin" id="main">
		<!-- <div class="route">
			<a href="index.html">药房网商城</a>
			<span>></span>
			<b>健力多 氨糖软骨素钙片</b>
		</div>
		<div class="mdetail clear">
			<div class="m_left">
				<div class="big">
					<img src="img/big_01.jpg"/>
					<span></span>
					<p></p>
				</div>
				<div class="b_big">
					<img src="img/big_01.jpg"/>
				</div>
				<ul class="small clear">
					<li><img src="img/s_01.jpg"/></li>
					<li><img src="img/s_02.jpg"/></li>
					<li><img src="img/s_03.jpg"/></li>
					<li><img src="img/s_04.jpg"/></li>
					<li><img src="img/s_05.jpg"/></li>
				</ul>
			</div>
			<div class="m_right">
				<h4>健力多 氨糖软骨素钙片</h4>
				<ul>
					<li>
						<div class="mr_l">
							<b>通用名：</b>
							<span>氨糖软骨素钙片</span>
						</div>
						<div class="mr_r">
							<b>商品品牌：</b>
							<span>健力多</span>
						</div>
					</li>
					<li>
						<div class="mr_l">
							<b>生产企业：</b>
							<span>汤臣倍健股份有限公司</span>
						</div>
					</li>
					<li class="lsjg">
						<div class="mr_l">
							<b>零售价格：</b>
							<span>￥30.00</span>
						</div>
						<div class="mr_r">
							<b>运费</b>
							<span>快递：包邮</span>
						</div>
					</li>
					<li class="require_num">
						<div class="mr_l clear">
							<b>需求数量：</b>
							<a href="javascript:void(0)" class="reduce">-</a>
							<input type="text" id="num" class="num" value="1" />
							<a href="javascript:void(0)" class="increase">+</a>
						</div>
						<div class="mr_r">
							<b>库存：</b>
							<span>1709瓶 ,限购40瓶</span>
						</div>
					</li>
					<li class="order">
						<a href="#" class="a1">直接购买</a>
						<a href="#" class="a2">加入清单</a>
					</li>
				</ul>
			</div>
		</div> -->
		<!-- <div class="cdetail">
			<ul class="cd_title clear">
				<li>商品详情</li>
				<li>服务保障</li>
				<li>常见问题</li>
				<li>真伪查询</li>
			</ul>
			<ul class="cd_content">
				<li>
					<h4>健力多 氨糖软骨素钙片商品详情</h4>
					<div class="explain clear">
						<a href="img/ex_01.jpg" target="_blank"><img src="img/ex_01.jpg"/></a>
						<a href="img/ex_02.jpg" target="_blank"><img src="img/ex_02.jpg"/></a>
						<a href="img/ex_03.jpg" target="_blank"><img src="img/ex_03.jpg"/></a>
						<a href="img/ex_04.jpg" target="_blank"><img src="img/ex_04.jpg"/></a>
						<a href="img/ex_05.jpg" target="_blank"><img src="img/ex_05.jpg"/></a>
					</div>
				</li>
				<li>
					<h4>服务保障</h4>
					<div class="service">
						<p>正品保证<br>药房网商城在售商品均由正规实体签约商家供货，商家提供正品保证。在购物过程中发现任何商家有违规行为，请直接向我们投诉举报！</p>
						<p>提供发票<br>药房网商城所有在售商家均可提供商品发票。</p>
						<p>退换货政策<br>由商品售出之日（以实际收货时间为准）起七日内符合退换货条件的商品享受退换货政策。</p>
						<p>退换货条件<br>因物流配送导致外包装污损、破损的商品。<br>经质量管理部门检验，确属产品本身存在质量问题。<br></p>
						<p>退换货流程<br>联系商家客服或自行确认符合退换货政策<br>在线提交退换货申请及相关证明<br>退换货申请通过后寄回商品<br>确认商家为您重寄的商品或退款</p>
					</div>
				</li>
				<li>
					<h4>常见问题</h4>
					<div class="problem">
						<p>为什么同一个产品的价格差距这么大？<br>由于各地区消费收入水平差异、商品进货渠道不同以及商家促销活动等原因，商品价格会有一定幅度的差异，但所有的商品价格均为商家发布的真实销售价格，请放心选购。</p>
						<p>展示的商品都是正品吗？<br>药房网商城所有在售商品均由正规实体药房发布并提供售后服务，正品保障，请放心选购。</p>
						<p>有货吗，什么时候能发货？<br>所有商品的库存均为商家自行设置的门店实际库存。商家的每个商品都会约定发货时间，以您的付款时间开始计算。若违约商城将根据实际情况对商家进行处罚。</p>
					</div>
				</li>
				<li>
					<h4>药品真伪验证小常识</h4>
					<div class="boolean">
						<p>生产日期与产品批号是否匹配<br>
							商品生产日期和产品批号都是相对应的，可以打电话到药厂，询问药品包装上的产品批号是否存在，如果没有批号，那有可能就是假药。或者找你购药的商家，要求商家出示票据和质检报告，如果商家没有，那可能就是假药。
						</p>
						<p>是否开具正规零售明细发票<br>
						发票不仅是购物完税凭证，更多的是网购交易产生纠纷时作为法律依据，是保护自身利益的有力保障，养成开发票的习惯可以大大减低维权的成本。发票上载明的信息可以对网购纠纷责任明确的界定。
						</p>
					</div>
				</li>
			</ul>
		</div> -->
	</div>
</main>
<footer>
		<div class="navigation">
			<div class="container clear">
				<dl>
					<dt><a href="#">消费者保障</a></dt>
					<dd><a href="#">网警提示</a></dd>
					<dd><a href="#">隐私保护</a></dd>
					<dd><a href="#">投诉维权</a></dd>
					<dd><a href="#">客服中心</a></dd>
				</dl>
				<dl>
					<dt><a href="#">消费者保障</a></dt>
					<dd><a href="#">网警提示</a></dd>
					<dd><a href="#">隐私保护</a></dd>
					<dd><a href="#">投诉维权</a></dd>
					<dd><a href="#">客服中心</a></dd>
				</dl>
				<dl>
					<dt><a href="#">消费者保障</a></dt>
					<dd><a href="#">网警提示</a></dd>
					<dd><a href="#">隐私保护</a></dd>
					<dd><a href="#">投诉维权</a></dd>
					<dd><a href="#">客服中心</a></dd>
				</dl>
				<dl>
					<dt><a href="#">消费者保障</a></dt>
					<dd><a href="#">网警提示</a></dd>
					<dd><a href="#">隐私保护</a></dd>
					<dd><a href="#">投诉维权</a></dd>
					<dd><a href="#">客服中心</a></dd>
				</dl>
				<dl>
					<dt><a href="#">消费者保障</a></dt>
					<dd><a href="#">网警提示</a></dd>
					<dd><a href="#">隐私保护</a></dd>
					<dd><a href="#">投诉维权</a></dd>
					<dd><a href="#">客服中心</a></dd>
				</dl>
				<dl>
					<dt><a href="#">消费者保障</a></dt>
					<dd><a href="#">网警提示</a></dd>
					<dd><a href="#">隐私保护</a></dd>
					<dd><a href="#">投诉维权</a></dd>
					<dd><a href="#">客服中心</a></dd>
				</dl>
				<dl>
					<dt><a href="#">手机app</a></dt>
					<dd><a href="#"><img src="img/phone.png"/></a><br><br>新人领二十元红包</dd>
				</dl>
				<dl>
					<dt><a href="#">关注微信</a></dt>
					<dd><a href="#"><img src="img/phone.png"/></a><br><br>每日签到领积分</dd>
				</dl>
			</div>
		</div>
		<div class="about">
			<div class="container">
				<p class="p1">
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
				</p>
				<p class="p2">
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">关于我们</a>
				</p>
				<p class="p3">
					<span>互联网药品信息服务资格证编号：</span>
					<span>互联网药品信息服务资格证编号：</span>
					<span>互联网药品信息服务资格证编号：</span>
					<span>互联网药品信息服务资格证编号：</span>
					<span>互联网药品信息服务资格证编号：</span>
				</p>
				<p class="p4">©2007-2019 药房网商城版权所有 上海伊邦医药信息科技有限公司</p>
				<p class="p5 clear">
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
					<span class="icons_rz"></span>
				</p>
				<p class="p6">本网站用字经北京北大方正电子有限公司授权许可</p>
			</div>
		</div>
</footer>
<section id="sideNav">
	<ul class="nav">
		<li>
			<i class="icons""></i>
			<a href="javascript:void(0);" style="display: none;">联系客服</a>
		</li>
		<li>
			<i class="icons"></i>
			<a href="cart.html" style="display: none;">购物清单</a>
			<b class="cartnum2">0</b>
		</li>
		<li>
			<i class="icons"></i>
			<a href="javascript:void(0);" style="display: none;">同店购买</a>
		</li>
		<li>
			<i class="icons"></i>
			<a href="javascript:void(0);" style="display: none;">关注我们</a>
		</li>
		<li>
			<i class="icons"></i>
			<a href="javascript:void(0);" style="display: none;">手机APP</a>
		</li>
		<li>
			<i class="icons"></i>
			<a href="javascript:void(0);" style="display: none;">意见反馈</a>
		</li>
		<li class="last">
			<i class="icons"></i>
			<a href="javascript:void(0);" style="display: none;">返回顶层</a>
		</li>
	</ul>
</section>
</body>
<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="libs/jquery.banner.1.1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="libs/ajax.3.0.js"></script>
<script src="js/cookie.js"></script>
<script src="js/detail.js"></script>
<script type="text/javascript">
// cartnum2
// order
	$(".order").children(".a2").on("click",function(){
		// alert("加入清单成功");
	});

	(function(){
		var arr = JSON.parse(getCookie("goods"));
		var num = 0;
		arr.forEach((item) => {
			num += item.num;
		});
		$(".cartnum2").text(num)
		if($(".cartnum2").text() >= 1){
			$(".cartnum2").css({display:"block"})
		}
	})();

//	搜索框
	$(".opt_list").children("li").hover(function(){
		$(this).parent().children().css({display:"block"});
		$(".opt_list").css({"border-bottom":"1px solid #e5e5e5"})
	},function(){
		$(this).parent().children("li").not(".current").stop().hide();
		$(".opt_list").css({"border-bottom":0})
	})

//	三级导航
	$(".category").hover(function(){
		$(".maingoods").css({display:"block"});
	})	
	$(".maingoods").children("li").hover(function(){
		$(this).css({background:"#f4f4f4"})
		.siblings("li").css({background:"none"})
		.parent().siblings(".subcat").eq($(this).index()).stop().show()
		.siblings(".subcat").stop().hide();
	},function(){
		$(this).parent().siblings(".subcat").stop().hide();
		<!--$(this).parent().stop().hide();-->
		$(this).css({background:"none"})
		.parent().siblings(".subcat").eq($(this).index()).hover(function(){
			$(this).stop().show()
		},function(){
			$(this).stop().hide();
			$(this).siblings().stop().hide();
		})
	})
//	侧边栏
	$("#sideNav").children(".nav").children("li").hover(function(){
		$(this).children("a").css({display:"block"}).siblings("i").css({display:"none"})
		.parent().css({background:"#0cb95f"}).siblings().children("a").css({display:"none"}).siblings("i").css({display:"block"})
		.parent().css({background:""})
	},function(){
		$(this).children("a").css({display:"none"}).siblings("i").css({display:"block"})
		.parent().css({background:""})
	})
//	返回顶部
	$("#sideNav").children(".nav").children(".last").children("a").click(function(){
		document.documentElement.scrollTop = 0;
	})
	
//	数量的增减
	$(".reduce").on("click",function(){
		if($("#num").val() == 1){
			$("#num").val(function(){
			return	1;
			})
		}else{
			$("#num").val(function(){
			return	parseInt($("#num").val())-1;
			})
		}
	})
	$(".increase").on("click",function(){
		$("#num").val(function(){
			return	parseInt($("#num").val())+1;
		})
	})
//	图片切换
	$(".small").children("li").on("click",function(){
		var osrc = $(this).children("img").attr("src");
		var index = osrc.substr(7,2);
		$(".big").children("img").attr({src:"img/ex_"+ index +".jpg"});
		$(".big").children("span").css({"background-image":"url(img/ex_"+ index +".jpg)"});
		$(".b_big").children("img").attr({src:"img/ex_"+ index +".jpg"});
	})
//	放大镜效果
	$(".big").on("mouseover",function(){
		$(".big").children("span").css({display:"block"});
		$(".b_big").css({display:"block"});
		$(".big").children("img").css({opacity:0.5});
		
		$(".big").on("mousemove",function(eve){
			var e = eve || window.event;
			var l = e.offsetX - $(".big").children("span").width()/2;
			var t = e.offsetY - $(".big").children("span").height()/2;
			if(l<0) l=0;
			if(t<0) t=0;
			if(l > $(".big").width() - $(".big").children("span").width()){
				l = $(".big").width() - $(".big").children("span").width()
			}
			if(t > $(".big").height() - $(".big").children("span").height()){
				t = $(".big").height() - $(".big").children("span").height()
			}
			$(".big").children("span").css({left: l + "px",top: t + "px"});
			
			var x = l/($(".big").width()-$(".big").children("span").width());
    		var y = t/($(".big").height()-$(".big").children("span").height());
    		$(".b_big").children("img").css({left: ($(".b_big").width() - $(".b_big").children("img").width()) * x + "px",top: ($(".b_big").height()-$(".b_big").children("img").height()) * y + "px"});
    		
    		$(".big").children("span").css({backgroundPositionX: -l + "px"});
    		$(".big").children("span").css({backgroundPositionY: -t + "px"});
		})
	})
	$(".big").on("mouseout",function(){
		$(".big").children("span").css({display:"none"});
		$(".b_big").css({display:"none"});
		$(".big").children("img").css({opacity:1});
	})
//	导航的固定定位
	document.onscroll = function(){
		if($("html").scrollTop() >= 812){
			$(".cd_title").css({"position":"fixed","top":0})
		}else{
			$(".cd_title").css({"position":"relative","top":0})
		}
	}
//	详情页导航
	$(".cd_title").children("li").on("click",function(){
		$("html").stop().animate({
                    scrollTop:$(".cd_content").children("li").eq($(this).index()).offset().top - 50
              })

	})
</script>
</html>