<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户登录</title>
<link href="libs/public.css" rel="stylesheet" type="text/css">
<link href="css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<section id="header_top" class="clear">
	<div class="container">
		<ul class="left">
			<li>
				<i class="icons wx"></i>
				<a href="#">微信查价</a>
				<span></span>
			</li>
			<li>
				<i class="icons sj"></i>
				<a href="#">手机APP</a>
			</li>
		</ul>
		<ul class="right">
			<li>
				<a href="#">网站导航</a>
			</li>
			<li>
				<a href="#">客服中心</a>
			</li>
		</ul>
	</div>
</section>
<header class="clear">
	<div class="container">
		<div class="logo clear">
			<a href="index.html"><img src="img/logo.jpg"/></a>
			<span>用户登录</span>
		</div>
	</div>
</header>
<main>
	<div class="container">
		<ul class="account">
			<li class="select clear">
				<div class="sleft">账号登录</div>
				<!--<span></span>
				<div class="sright">快捷登录</div>-->
			</li>
			<li class="register clear">
				<div class="rleft">欢迎登录药房网商城</div>
				<div class="rright">
					<s>没有账号?</s>
					<a href="register.html">立即注册</a>
				</div>
			</li>
			<li class="number clear" style="display: block;">
				<input type="text" name="" id="uName" class="uName" value="" placeholder="用户名 / 已验证邮箱或手机"/>
				<i class="icons"></i>
			</li>
			<li class="password" style="display: block;">
				<input type="password" name="" id="pass" class="pass" placeholder="登录密码"/>
				<i class="icons"></i>
			</li>
			<li class="remember clear" style="display: block;">
				<div class="mleft">
					<i class="icons" id="checked"></i>
					记住用户名
				</div>
				<div class="mright">
					<a href="#">忘记密码？</a>
				</div>
			</li>
			<!--快捷登录-->
			<li class="phone" style="display: none;">
				<input type="text" name="" id="phone_txt" class="phone_txt" value="" placeholder="请输入手机号"/>
			</li>
			<li class="picture" style="display: none;">
				<input type="text" name="" id="picture_txt" class="picture_txt" value="" placeholder="请输入图片验证码"/>
				<i class="piccode"></i>
			</li>
			<li class="message" style="display: none;">
				<input type="text" name="" id="message_txt" class="message_txt" value="" placeholder="请输入短信验证码"/>
				<i class="mescode"></i>
			</li>
			
			<li class="entry">
				<input type="submit" id="btn_Submit" class="btn_Submit" name="" value="立即登录"/>
			</li>
			<li class="way">使用其他方式登录：</li>
			<li class="diverse clear">
				<a href="#" class="icons qq"></a>
				<a href="#" class="icons wx"></a>
				<a href="#" class="icons zfb"></a>
				<a href="#" class="icons wb"></a>
			</li>
		</ul>
		<!--<ul class="shortcut" style="display: none;">
			<li class="select clear">
				<div class="sleft">账号登录</div>
				<span></span>
				<div class="sright">快捷登录</div>
			</li>
			<li class="register clear">
				<div class="rleft">欢迎登录药房网商城</div>
				<div class="rright">
					<s>没有账号?</s>
					<a href="register.html">立即注册</a>
				</div>
			</li>
			<li class="entry">
				<input type="submit" id="btn_Submit" class="btn_Submit" name="" value="立即登录"/>
			</li>
			<li class="way">使用其他方式登录：</li>
			<li class="diverse clear">
				<a href="#" class="icons qq"></a>
				<a href="#" class="icons wx"></a>
				<a href="#" class="icons zfb"></a>
				<a href="#" class="icons wb"></a>
			</li>
		</ul>-->
	</div>
</main>
<footer>
	<p>
		<a href="#">关于我们</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
		<span>|</span>
		<a href="#">资质证明</a>
		<span>|</span>
		<a href="#">商家入驻</a>
	</p>
	<p>
		<span>互联网药品交易服务资格证编号:国A20110001</span>
		<span>互联网药品信息服务资格证编号:(沪)-经营性-2012-0003</span>
		<span>ICP备案号:沪ICP备07012885号</span>
		<span>沪公网安备 31011502002155号</span>
	</p>
	<p>©2007-2019  药房网商城版权所有  上海伊邦医药信息科技有限公司</p>
	<p>本网站用字经北京北大方正电子有限公司授权许可</p>
</footer>
</body>
<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="libs/ajax.3.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

	function Login(options){
		this.checked = options.checked;
    	this.btn = options.btn;
    	this.user = options.user;
    	this.pass = options.pass;
    	this.url = options.url;
    	this.conOff = false;
    	this.init();
    }
    Login.prototype.init = function(){
    	var that = this;
    	this.checked.onclick = function(){
	    	if(this.style.backgroundPositionX == "-41px"){
	    		this.style.backgroundPositionX = "-60px";
	    		that.conOff = true;
	    	}else{
	    		this.style.backgroundPositionX = "-41px";
	    		that.conOff = false;
	    	}
    	}
    	this.btn.onclick = function(){
    		that.load()
    	}
    }
    Login.prototype.load = function(){
    	var that = this;
    	$.ajax({
			type: "POST",
			url: that.url,
			data: {username:$("#uName").val(), password:$("#pass").val()},
			dataType: "json",
			success: function(res){
				if(res.error == 0){
					// console.log(data.data.username)
					location.href = "index.html?username="+res.data.username;
				}else{
					alert(res.msg);
				}
			}
		});
    }
	new Login({
		checked:document.getElementById("checked"),
		btn:document.getElementById("btn_Submit"),
		user:document.getElementById("uName"),
		pass:document.getElementById("pass"),
		url:"/api/login"
	})
</script>
</html>